pydantic==1.10.13
garth==0.4.46
garminconnect==0.2.8
requests==2.31.0
cloudscraper==1.2.71
gpxpy==1.6.2
geopy==2.4.1
lxml==4.6.3
python-tcxparser==2.3.0
tcxreader==0.4.10
dateutils==0.6.12
pandas~=2.2.2
PyYAML~=5.4.1